%div.basic
  = paginate @movies
%div.basic
  %table
    %tr
      %th Movie
      %th Released
      %th Rating
      %th
    - @movies.each do |movie|
      %tr.unit
        %td
          %img.poster{:src => "#{movie.poster}"}/
          = movie.title
        %td= movie.released
        %td #{movie.imdb_rating} from #{movie.imdb_votes} votes
        %td= button_to "View", movies_path(:id), method: 'get'
%div.basic
  = paginate @movies
